/* mind-elixir.css */
.map-container {
  --gap: 30px;
  --root-radius: 30px;
  --main-radius: 20px;
  --root-color: #ffffff;
  --root-bgcolor: #4c4f69;
  --root-border-color: rgba(0, 0, 0, 0);
  --main-color: #444446;
  --main-bgcolor: #ffffff;
  --topic-padding: 3px;
  --color: #777777;
  --bgcolor: #f6f6f6;
  --selected: #4dc4ff;
  --panel-color: #444446;
  --panel-bgcolor: #ffffff;
  --panel-border-color: #eaeaea;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  user-select: none;
  height: 100%;
  width: 100%;
  overflow: scroll;
  font-size: 15px;
}

.map-container * {
  box-sizing: border-box;
}

.map-container::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.map-container .selected {
  outline: 2px solid var(--selected);
  outline-offset: 1px;
}

.map-container .hyper-link {
  text-decoration: none;
  margin-left: 0.3em;
}

.map-container .lhs {
  direction: rtl;
}

.map-container .lhs me-tpc {
  direction: ltr;
}

.map-container .map-canvas {
  height: 20000px;
  width: 20000px;
  position: relative;
  user-select: none;
  transition: transform 0.3s;
  transform: scale(1);
  background-color: var(--bgcolor);
}

.map-container me-nodes {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
}

.map-container me-root {
  position: relative;
}

.map-container me-root me-tpc {
  display: block;
  font-size: 25px;
  color: var(--root-color);
  padding: 10px var(--gap);
  border-radius: var(--root-radius);
  border: var(--root-border-color) 2px solid;
  white-space: pre-wrap;
  background-color: var(--root-bgcolor);
}

.map-container me-main > me-wrapper {
  position: relative;
  margin: 45px 65px;
}

.map-container me-main > me-wrapper > me-parent {
  margin: 10px;
  padding: 0;
}

.map-container me-main > me-wrapper > me-parent > me-tpc {
  border-radius: var(--main-radius);
  background-color: var(--main-bgcolor);
  border: 2px solid var(--main-color);
  color: var(--main-color);
  padding: 8px 25px;
}

.map-container me-wrapper {
  display: block;
  pointer-events: none;
  width: fit-content;
}

.map-container me-children,
.map-container me-parent {
  display: inline-block;
  vertical-align: middle;
}

.map-container me-parent {
  position: relative;
  cursor: pointer;
  padding: 6px var(--gap);
  margin-top: 10px;
}

.map-container me-parent me-tpc {
  position: relative;
  display: block;
  border-radius: 3px;
  color: var(--color);
  pointer-events: all;
  max-width: 35em;
  white-space: pre-wrap;
  padding: var(--topic-padding);
}

.map-container me-parent me-tpc .insert-preview {
  position: absolute;
  width: 100%;
  left: 0px;
  z-index: 9;
}

.map-container me-parent me-tpc .show {
  background: #7ad5ff;
  pointer-events: none;
  opacity: 0.7;
}

.map-container me-parent me-tpc .before {
  height: 14px;
  top: -14px;
}

.map-container me-parent me-tpc .in {
  height: 100%;
  top: 0px;
}

.map-container me-parent me-tpc .after {
  height: 14px;
  bottom: -14px;
}

.map-container me-epd {
  position: absolute;
  height: 18px;
  width: 18px;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  pointer-events: all;
  z-index: 9;
}

.map-container me-epd.minus {
  background-image: url('./icons/minus-circle.svg') !important;
  transition: opacity 0.3s;
  opacity: 0;
}

.map-container me-epd.minus:hover {
  opacity: 0.8;
}

.map-container .icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.map-container .lines,
.map-container .summary,
.map-container .subLines,
.map-container .topiclinks,
.map-container .linkcontroller {
  position: absolute;
  height: 102%;
  width: 100%;
  top: 0;
  left: 0;
}

.map-container .topiclinks,
.map-container .linkcontroller,
.map-container .summary {
  pointer-events: none;
}

.map-container .topiclinks text,
.map-container .linkcontroller text {
  pointer-events: all;
}

.map-container .topiclinks .selected,
.map-container .linkcontroller .selected {
  pointer-events: none;
}

.map-container .lines,
.map-container .subLines {
  pointer-events: none;
  z-index: -1;
}

.map-container .topiclinks *,
.map-container .linkcontroller * {
  z-index: 100;
}

.map-container .topiclinks g {
  cursor: pointer;
}

.map-container #input-box {
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  max-width: 35em;
  z-index: 11;
  direction: ltr;
  user-select: auto;
  pointer-events: auto;
  background-color: var(--bgcolor);
}

.map-container me-tpc > * {
  pointer-events: none;
}

.map-container me-tpc > a,
.map-container me-tpc > iframe {
  pointer-events: auto;
}

.map-container me-tpc > img {
  display: block;
  margin-bottom: 8px;
  object-fit: cover;
}

.map-container me-tpc > .text {
  display: inline-block;
}

.map-container .circle {
  position: absolute;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 100%;
  background: #757575;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.map-container .tags {
  direction: ltr;
}

.map-container .tags span {
  display: inline-block;
  border-radius: 3px;
  padding: 2px 4px;
  background: #d6f0f8;
  color: #276f86;
  margin: 0px;
  font-size: 12px;
  line-height: 1.3em;
  margin-right: 4px;
  margin-top: 2px;
}

.map-container .icons {
  display: inline-block;
  direction: ltr;
  margin-left: 5px;
}

.map-container .icons span {
  display: inline-block;
  line-height: 1.3em;
}

.map-container .mind-elixir-ghost {
  position: fixed;
  top: -100%;
  left: -100%;
  box-sizing: content-box;
  opacity: 0.5;
  background-color: #f6f6f6;
  max-width: 200px;
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 8px 16px;
  border-radius: 6px;
  border: #666666 2px solid;
}

.map-container .selection-area {
  background: #4f90f22d;
  border: 1px solid #4f90f2;
}